div {
    width: 800px;
    height: 100%;
    border: #c7edcc solid 1px;

    margin: 10px auto;
    /*overflow: hidden;*/
}

div img {
    cursor: pointer;
    transition: all 1.2s;
}

div img:hover {
    transform: scale(1.6);
}

p {
    text-indent: 2em;
    font-size: 18px;
}

a {
    text-decoration: none;
}